body{
background-image: linear-gradient(to right, #71d160 , #7878bf);
}

h1, h2, h3{
font-size:25px;
font-weight:bold;
  color:white;
}
 
#try{
  color:blue;
}

.green-btn{
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    background: lightgreen;
    font-size:150%;
    height:75px;
    width:125px;
}
